<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shopping Site for Mobiles, Electronics, Fashion &amp More</title>
    <link rel="icon" href="{{ url_for('static', filename='img/AMZN-e9f942e4.png') }}" type="image/x-icon">
    <script src="https://kit.fontawesome.com/f843636886.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!----------header--------->
    <header>

        <div class="header-left">
            <a href="#"><img src="{{ url_for('static', filename='img/Screenshot_1.png') }}" alt="amazon logo" width="120" height="50" background_color="transparent"></a>
            
        </div>
        <div class="header-center">
            <input class="header-center-input" type="text" placeholder="Search for Products, Brands and More"><i class="fa-solid fa-magnifying-glass"></i>

        </div>
        <!----Login btn-->
        <div class="login">

            <a href="/login" class="login_btn">Hello, sign in</a>
            <div class="login_dropdown none">
                <ul class="login_dropdown_list">
                    <li class="login_drop_li sign_Li flex">
                        <p class="new_login">New customer?</p>
                        <a href="/sign-up" class="sign_up">Sign up</a>


                    </li>

                    <li class="login_drop_li"><i class="fa-solid fa-circle-user"></i> My profile</li>
                    <li class="login_drop_li"><i class="fa-solid fa-bag-shopping"></i> Orders</li>
                    <li class="login_drop_li"><i class="fa-solid fa-heart"></i> Wishlist</li>
                    <li class="login_drop_li"><i class="fa-solid fa-gift"></i> Gift Cards</li>
                    
                </ul>
            </div>
        
        </div>
        <!-----More---->
        <div class="more">
            <span class="more_lan">More<i class="fa-solid fa-angle-down"></i></span>
            <div class="more_dropdown none">
                
                <ul class="more_dropdown_list">
                    

                    <li class="login_drop_li"><i class="more-icon fa fa-bell"></i> Notification Preferences</li>
                    <li class="login_drop_li"><i class="more-icon fa fa-question"></i> 24x7 Customer Care</li>
                    
                    <li class="login_drop_li"><i class="more-icon fa fa-download"></i> Download App</li>
                    <li class="login_drop_li"><i class="more-icon fa fa-line-chart"></i> Advertise</li>
                    
                    
                </ul>

            </div>
        </div>

        <!----cart---->
        <span class="cart_lan"><i class="fa-solid fa-cart-shopping">CART</i></span>

    </header>
    <!---------categories section---->
    <section>
        <div class="category-row">
            <div class="category-col">
                <h5><i class="fa-solid fa-bars">ALL</i></h5>
            </div>
            
            <div class="category-col">
                <h5>One Medical</h5>
            </div>
            <div class="category-col">
                <h5>Clinic</h5>
            </div>
            <div class="category-col">
                <h5>Best Sellers</h5>
            </div>
            <div class="category-col">
                <h5>Amazon Basics</h5>
            </div>
            <div class="category-col">
                <h5>New Releases</h5>
            </div>
            <div class="category-col">
                <h5>Today's Deals</h5>
            </div>
            <div class="category-col">
                <h5>Books</h5>
            </div>
            <div class="category-col">
                <h5>Music</h5>
            </div>
            <div class="category-col">
                <h5>Fashion</h5>
            </div>
            <div class="category-col">
                <h5>Registry</h5>
            </div>
            <div class="category-col">
                <h5>Amazon Home</h5>
            </div>
            <div class="category-col">
                <h5>Pharmacy</h5>
            </div>
            <div class="category-col-last">
                <h5>24/7 care with One Medical</h5>
            </div>
        </div>
    </section>
    <!-------banner-------->
    <!--
    <section>

        <div class="banner">
            <div class="slider">
                <img src="C:\Users\HP\Desktop\NUKS projekat\img\banner0.jpg" alt="banner">
                
                <img src="C:\Users\HP\Desktop\NUKS projekat\img\banner3.jpg" alt="banner">
                
            
            </div>
        </div>
    </section>
    -->
   <section>
        <div class="slideshow-container">

            <div class="mySlides fade">
                <img src="{{ url_for('static', filename='img/banner0.jpg') }}" >
            </div>

            <div class="mySlides fade">
                <img src="{{ url_for('static', filename='img/EzgnjHYXsAg0a-S.png') }}" >
            </div>

            <div class="mySlides fade">
                <img src="{{ url_for('static', filename='img/banner3.jpg') }}" >
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
   </section>

   <section>

    <!-----deals---->

    <div class="deals">

        <div class="heading_deals">
            <div class="common-heading-left flex">

                <p style="font-size: 23px;padding-right: 20px;font-weight: bold;">Deals on Amazon Devices</p>
                <a href="#" class="more-deals"style="font-size: 10px;padding-top:8px;">See more deals</a>
            </div>
            <div class="common-row col-deals">
                <div class="common-col">
                    <img src="{{ url_for('static', filename='img/deals1.jpg') }}" alt="" class="product-img">
                    <h4 class="sale" style="font-size: 13px; color: white;">Up to 36% off</h4>
                    <h4 style="font-size: 13px;">Amazon Fire TV 4-Series</h4>

                </div>

                <div class="common-col">
                    <img src="{{ url_for('static', filename='img/deals2.jpg') }}" alt="" class="product-img">
                    <h4 class="sale" style="font-size: 13px; color: white;">50% off</h4>
                    <h4 style="font-size: 13px;">$19.99</h4>
                    <h4 style="font-size: 13px;">Echo Dot</h4>
    
                </div>

                <div class="common-col">
                    <img src="{{ url_for('static', filename='img/deals3.jpg') }}" alt="" class="product-img">
                    <h4 class="sale" style="font-size: 13px; color: white;">25% off</h4>
                    <h4 style="font-size: 13px;">Ring Alarms</h4>

                </div>
                
                <div class="common-col">
                    <img src="{{ url_for('static', filename='img/deals5.jpg') }}" alt="" class="product-img">
                    <h4 class="sale" style="font-size: 13px; color: white;">41% off</h4>
                    <h4 style="font-size: 13px;">$94.99</h4>
                    <h4 style="font-size: 13px;">Certified Refurbished Blink Outdoor</h4>
    
                </div>

                <div class="common-col">
                    <img src="{{ url_for('static', filename='img/deals6.jpg') }}" alt="" class="product-img">
                    <h4 class="sale" style="font-size: 13px; color: white;">Up to 33% off</h4>
                    <h4 style="font-size: 13px;">Certified Refurbished Fire 10 Tablets</h4>
    
                </div>

                <div class="common-col">
                    <img src="{{ url_for('static', filename='img/deal7.jpg') }}" alt="" class="product-img">
                    <h4 class="sale" style="font-size: 13px; color: white;">31% off</h4>
                    <h4 style="font-size: 13px;">$54.99</h4>
                    <h4 style="font-size: 13px;">Certified Refurbished Kindles</h4>
    
                </div>

                

            </div>
        </div>
    </div>
   </section>

   <!---footer---->

   <footer>

    <div class="footer-row">
        <div class="footer-col-1">
            <div class="footer-heading">

                <p style="color:white; font-weight: bold;padding-bottom: 10px;">Get To Know Us</p>
            </div>
            <div class="footer-list">
                <a href="#">Careers</a>
                <a href="#">Amazon Newsletter</a>
                <a href="#">About Amazon</a>
                <a href="#">Accessibility</a>
                <a href="#">Sustainability</a>
                <a href="#">Press Center</a>
                <a href="#">Investor Relations</a>
            </div>
        </div>

        <div class="footer-col-2">
            <div class="footer-heading">

                <p style="color:white; font-weight: bold;padding-bottom: 10px;">Make Money with Us</p>
            </div>
            <div class="footer-list">
                <a href="#">Sell products on Amazon</a>
                <a href="#">Sell apps on Amazon</a>
                <a href="#">Supply to Amazon</a>
                <a href="#">Become an Affiliate</a>
                <a href="#">Become a Delivery Driver</a>
                <a href="#">Advertise Your Products</a>
                <a href="#">Host an Amazon Hub</a>
            </div>
        </div>

        <div class="footer-col-3">
            <div class="footer-heading">

                <p style="color:white; font-weight: bold;padding-bottom: 10px;">Amazon Payment Products</p>
            </div>
            <div class="footer-list">
                <a href="#">Amazon Rewards Visa Signature Cards</a>
                <a href="#">Amazon Store Card</a>
                <a href="#">Amazon Secured Card</a>
                <a href="#">Amazon Business Card</a>
                <a href="#">Shop with Points</a>
                <a href="#">Credit Card Marketplace</a>
                <a href="#">Amazon Currency Converter</a>
            </div>
        </div>
    </div>
    <div class="footer-row2">
        <div class="footer-row2-col">
            <img src="{{ url_for('static', filename='img/Screenshot_13.png') }}" alt="" width="120" height="50">
        
            <p style="padding-top:15px" class="border_footer">English</p>
            <p style="padding-top:15px" class="border_footer">United States</p>
        </div>
        </div>
        
            

    </div>
   </footer>
   <script
   type="text/javascript"
   src="{{ url_for('static',filename='index.js')}}">


   </script>
</body>
</html>